body{
    display: flex;
}

.HranaDiv{
    display: block;
    float: left;
    width: 20%;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
.PiceDiv{
    display: block;
    float: left;
    width: 20%;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
.HigijenaDiv{
    display: block;
    float: left;
    width: 20%;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
.LokacijaDiv{
    display: block;
    width: auto;
    max-width: 80px;
    flex: 1;
}
.LokacijaInput
{
    display: block;
    width: auto;
    max-width: 80px;
    flex: 1;
}
.Narudzbina
{
    display: block;
    float:  left;
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
    height: fit-content;
}

